.course-content ul.days {margin:0;}
.course-content ul.days li.section {list-style: none;margin:5px 0 0 0;padding:0;}
.course-content ul.days li.section .content {margin:0 40px;}
.course-content ul.days li.section .left {width:40px;float:left;text-align:center;}
.course-content ul.days li.section .right {width:40px;float:right;text-align:center;}
.jumpmenu {text-align:center;}